.msac-wrapper .suggested {
    background: pink;
}

.msac-wrapper .selected {
    background: aliceblue;
}

.msac-wrapper .suggestions {
    position: absolute;
    background: white;
}

.msac-wrapper .delete {
    width: 5px;
    height: 5px;
    display: block;
    float: right;
    cursor: pointer;
}

.msac-wrapper .flash {
    color: red;
}
